$colorblu: #435999;
$p100: 100%;
$generalColor: #58402c;
@import "partials/mixin";
@import "partials/general";
@import "partials/section";
// ________________________________________________


//   |||| NAVBAR ||||
@include headersection;

//    |||| JUMBOTRON ||||
@include jumbotron;

//  ||||   SEZ 1 ||||
@include sect1;
//  ||||  SCALETTA section  ||||
@include scalettasection;
// ||||  review section ||||
@include reviewsection;
// |||||  FOOTER |||||
@include footersection;
